<!DOCTYPE html>
<html>
<head>
	<title>Connection project</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
{{{body}}}
<script>
	var url = "http://localhost:3001/bundle.js";
	var script = document.createElement( 'script' );
	script.type = 'text/javascript';
	script.src = url;
	document.body.append(script);
</script>
</body>
</html>
