* {
	box-sizing: border-box;
	font-family: $copy_font;
}
html, body, div#main {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	font-family: $copy_font;
	color: $textDark_color;
	text-align: justify;
}
div#main {
    min-height: 100%;
    box-sizing: border-box;
    padding-top: $header_height;
}