.logWrapper {
	width: 40vw;
	background-color: $background-color;
	margin: auto;
	padding: 5vh 10vw;
	text-align: center;
	color: $textDark_color;

	h1, h2, h3 {
		font-family: $header_font;
		font-size: 1.5em;
		font-weight: 700;
		letter-spacing: 1px;
	}

	input {
		@include borderRadius(3px)
	}

	input[type='text'], input[type='password'] {
		font-family: $copy_font;
		height: 4vh;
		width: 18vw;
		border: none;
		padding: 5px 10px;
		color: #acacac;

		&:focus {
			color: $textDark_color;
		}
	}

	input[type='submit'] {
		background-color: #eeeeee;
		width: 10vw;
		height: 4vh;
		padding: 5px 10px;
		@include transition(background-color, 350ms, ease);

		&:hover {
			background-color: #cccccc;
		}
	}
}