@mixin flexbox () {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex !important;
}
@mixin flexboxDirectionWrap ($direction, $wrap) {

	-webkit-flex-direction: $direction;
	-ms-flex-direction: $direction;
	flex-direction: $direction;

	-webkit-flex-wrap: $wrap;
	-ms-flex-wrap: $wrap;
	flex-wrap: $wrap;
}
@mixin flexboxJustify ($justify) {

	-webkit-justify-content: $justify;
	-ms-flex-pack: $justify;
	justify-content: $justify;
}
@mixin flexboxAlign ($align) {

	-webkit-align-items: $align;
	-ms-flex-align: $align;
	align-items: $align;
}

@mixin transition ($property, $duration, $function) {
	-webkit-transition: $property $duration $function;
	-moz-transition: $property $duration $function;
	-ms-transition: $property $duration $function;
	-o-transition: $property $duration $function;
	transition: $property $duration $function !important;
}

@mixin borderRadius ($radius) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius !important;
}

@mixin transform ($property) {
	-moz-transform: $property;
	-webkit-transform: $property;
	-o-transform: $property;
	-ms-transform: $property;
	transform: $property !important;
}
