/*
* Created on the 18/07/17
*
* SCSS Reset for ...
* http://www.
*
*/


/*
 * Remove default margin
 * Set default font family
 */

html
{
	box-sizing: border-box;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: "Source Sans Pro", "Open Sans","Arial", sans-serif;;
}
body
{
	box-sizing: inherit;
	margin: 0;
}

/*
 * Correct display not defined for HTML5 elements in IE
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
small,
summary
{
	display: block;
}

/*
 * Set default links style to prevent the grey background in IE
 */

a
{
	background: transparent;
	color: inherit;
	cursor: default;
	border: 0;
	font-style: inherit;
	/*font-style property is not required*/
}
a:hover
{
	outline: 0;
	cursor: pointer;
}
a:active
{
	outline: 0;
	color: inherit;
	cursor: grabbing;
}
a:visited
{
	outline: 0;
	color: inherit;
	font-style: inherit;
	/*font-style property is not required*/
}

/*
 * Remove border for img tags in IE
 */

img
{
	border: 0;
}

/*
 * Set style for b, strong, dfn, i,em, u tags not defined in several browser
 */

b,
strong
{
	text-decoration: inherit;
	font-style: inherit;
	font-weight: 600;
}
dfn,
i,
em
{
	text-decoration: inherit;
	font-weight: inherit;
	font-style : italic;
}
u
{
	font-weight: inherit;
	font-style : inherit;
	text-decoration: underline;
}

/*
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root)
{
	overflow: hidden;
}

input
{
	color: inherit;
	font: inherit;
	margin: 0;
	line-height: normal;
	border-radius: 0;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration
{
	font-family: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	padding: 0;
	margin: 0;
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: inherit;
	padding: 0;
	border: 0;
}
textarea
{
	overflow: auto;
	font-family: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
	border: 0;
}

/*
 * Set default style for button, input[type="button"], input[type="submit"] and input[type="reset"]
 */

button,
input[type="button"],
input[type="submit"],
input[type="reset"]
{
	color: inherit;
	font-family: inherit;
	margin: 0;
	overflow: visible;
	text-transform: none;
	-webkit-appearance: button;
	-moz-appearance: button;
	cursor: pointer;
	border: 0;
	padding: 0;
	border-radius: 0;
	opacity: 1;
}
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
button::-moz-focus-inner
{
	padding: 0;
	border: 0;
	cursor: inherit;
}
button:disabled,
input[type="button"]:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled,
button:disabled:hover,
input[type="button"]:disabled:hover,
input[type="submit"]:disabled:hover,
input[type="reset"]:disabled:hover,
button:disabled:focus,
input[type="button"]:disabled:focus,
input[type="submit"]:disabled:focus,
input[type="reset"]:disabled:focus
{
	cursor: default;
	opacity: 0.8;
}

/*
 * Set default table style
 */

table
{
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #000000;
}
th,
tr,
td,
thead,
tbody,
tfoot
{
	padding: 0;
	margin: 0;
	border: 1px solid #000000;
}