@charset "UTF-8";

// FONTS
$header_font: "SF UI Display";
$copy_font: "SF UI Text";
$logo_font: "Whitney";

// COLORS
$background-color: rgba(30, 188, 109, 0.3);

$textDark_color: #2c3135;

// PADDING
$body_padding: 40px;

// SIZES
$header_height: 64px;
$navContainer_width: 15vw;

@import
	"body",
	"mixin",
	"login",
	"reset"
;
